<app-header></app-header>
<section class="single-product">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-slider">
            <div class="carousel slide" data-ride="carousel" id="single-product-slider">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662703105/Croma%20Assets/Communication/Mobiles/Images/261963_oqrd6j.png/mxw_1440,f_auto" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-7">
          <div class="single-product-details mt-5 mt-lg-0">
            <h2>Iphone 14 pro Max</h2>
            <div class="sku_wrapper mb-4">
              SKU: <span class="text-muted">iphn14 </span>
            </div>
  
            <hr>
            
            <h3 class="product-price">81,999 <del> 91,999</del></h3>
            
            <p class="product-description my-4 ">
              About this item
              <p>
                An innovative 48MP camera for mind-blowing detail.
Crash detection, a vital safety feature designed to save lives.
Designed for durability with Ceramic Shield, tougher than any smartphone glass.
Dynamic island is a magical new way to interact with your iPhone.
Up to 4x the resolution for jaw-dropping cropping.
Long-lasting battery up to 29 hours on video playback.
Memory: 256GB ROM
Battery: Qi Wireless Charging Up to 7.5W
Security (Lock): Facial Lock
              </p>
            
            <form class="cart" action="#" method="post">
              <div class="quantity d-flex align-items-center">
                <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" >
                <a routerLink="/login" class="btn btn-main btn-small">Add to cart</a>
              </div>
            </form>
            </div>
          </div>
        
      </div>
  
      
      <div class="row">
        <div class="col-lg-12">
          
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          
            <h4>Product Features</h4>
  
            <ul class="">
              <li>Display: 6.7 inches (17.00 cm) OLED Display</li>
              <li>Processor: A16 Bionic Chip, Hexa Core</li>
              <li>Camera: 48 MP + 12 MP + 12 MP Triple Rear & 12 MP Front Camera</li>
            </ul>
  
            </div>
            
            </div>
            </div>
          </div>
        </div>
  </section>
  
  