<app-header></app-header>
<section class="single-product">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-slider">
            <div class="carousel slide" data-ride="carousel" id="single-product-slider">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/61OJJSFEkBL._SX679_.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-7">
          <div class="single-product-details mt-5 mt-lg-0">
            <h2>Google Pixel6</h2>
            <div class="sku_wrapper mb-4">
              SKU: <span class="text-muted">googlep6</span>
            </div>
  
            <hr>
            
            <h3 class="product-price">41,000 <del> 46,999</del></h3>
            
            <p class="product-description my-4 ">
              About this item
              <p>
                The phone comes with 8 GB RAM along with a 128 GB internal memory. The phone is also decked with a Camera for your images and videos. For power, the Phone relies on a Li-Ion battery to give you that extra juice and power when you are on your phone. The phone features a beautiful and sleek design which along with a scratch resistant Corning Gorilla Glass to protect your smartphone from any nicks or mishaps. The processing power of the phone is driven by the Android 12 Processor that comes along with it.
                The phone comes with a Camera for shooting images and videos seamlessly from your phone. Shoot pictures and create memories with the Google Pixel.

                The phone features a Android 12 Processor for the processing power you need. Enjoy better shuffling through applications and multitasking with this processor.</p>
            
            <form class="cart" action="#" method="post">
              <div class="quantity d-flex align-items-center">
                <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" >
                <a routerLink="/login" class="btn btn-main btn-small">Add to cart</a>
              </div>
            </form>
            </div>
          </div>
        
      </div>
  
      
      <div class="row">
        <div class="col-lg-12">
          
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          
            <h4>Product Features</h4>
  
            <ul class="">
              <li>8 GB RAM | 128 GB ROM</li>
              <li>15.6 cm (6.14 inch) Full HD+ Display</li>
              <li>12.2MP + 12MP | 8MP Front Camera</li>
            </ul>
  
            </div>
            
            </div>
            </div>
          </div>
        </div>
  </section>
  
  