<app-header></app-header>
<section class="single-product">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="single-product-slider">
            <div class="carousel slide" data-ride="carousel" id="single-product-slider">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://rukminim1.flixcart.com/image/416/416/l5h2xe80/mobile/5/x/r/-original-imagg4xza5rehdqv.jpeg?q=70" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-7">
          <div class="single-product-details mt-5 mt-lg-0">
            <h2></h2>
            <div class="sku_wrapper mb-4">
              SKU: <span class="text-muted">ntngphn </span>
            </div>
  
            <hr>
            
            <h3 class="product-price"> 32,999 <del> Nothing Phone37,999</del></h3>
            
            <p class="product-description my-4 ">
              About this item
              <p>
                The Nothing Phone (1) boasts an elegant style that comes to life with beautiful symbols to enable an enriched connection between you and your device. Moreover, its simplistic design ensures that you are never out of the limelight wherever you go.
                The innovative Glyph Interface of the Nothing smartphone lays the path for a one-of-a-kind sort of communication. Furthermore, distinct light patterns alert you to incoming calls, app alerts, charging status, and other information.</p>
            
            <form class="cart" action="#" method="post">
              <div class="quantity d-flex align-items-center">
                <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" >
                <a routerLink="/login" class="btn btn-main btn-small">Add to cart</a>
              </div>
            </form>
            </div>
          </div>
        
      </div>
  
      
      <div class="row">
        <div class="col-lg-12">
          
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          
            <h4>Product Features</h4>
  
            <ul class="">
              <li>8 GB RAM | 128 GB ROM</li>
               <li> 16.64 cm (6.55 inch) Full HD+ Display</li>
               <li> 50MP + 50MP | 16MP Front Camera</li>
                <li>4500 mAh Lithium-ion Battery</li>
                </ul>
  
            </div>
            
            </div>
            </div>
          </div>
        </div>
  </section>
  
  